@model IEnumerable<EntityLibrary.OrderModels.OrderProductsInputModel>

@{
    ViewBag.Title = "OrderOverViewDetails";
}

<h2 class="headertitle">Order OverView Details</h2>

<p>
    @Html.ActionLink("Back", "OrderOverView")
</p>
<table class="center_table">
    <tr>
        <th class="Quantity">
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th  class="ProductName">
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th  class="Description">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="Quantity ">
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td class="ProductName ">
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td class="Description ">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
       
    </tr>
}

</table>
