@model IEnumerable<EntityLibrary.OrderModels.OrderProductsInputModel>

@{
    ViewBag.Title = "OrderCheck";
}

<h2>Order Check</h2>



    <table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
           
    </tr>
    }
        @using (Html.BeginForm("OrderConfirmation", "Order"))
        {
        
        <tr>
            <td><input type="submit" value="Confirm Order" /></td>
            <td>@Html.ActionLink("Back", "Index")</td>
        </tr>
        }
    </table>
